.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: url("https://phantasmrealm.com/wp-content/uploads/2023/07/dawdawdwad.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 100px 0 100px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  width: 100%;
  right: 20px;
  position: relative;
  top: -70px;
}

.bg-transparant {
  background: #FFFFFF21;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
}

.bg-transparant-nopadding {
  background: #FFFFFF21;
  border: 1px solid #fff;
  border-radius: 5px;
}

.raised {
  display: flex;
  text-align: left;
  justify-content: center;
}

.raised img {
  width: 48px;
  height: 48px;
  margin-right: 30px;
}

.description {
  font-size: 16px;
  font-weight: bold;
  width: 60%;
}

.wd-80 {
  width: 80%;
}

.raised-desc {
  text-align: left;
  justify-content: center;
}

.raised-header {
  width: 100%;
  border-bottom: 1px solid;
  height: 60px;
  font-weight: bold;
}

.pull-right {
  float: right;
  text-align: right;
}

.form-input {
  background: none;
  width: 100px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-submit {
  border: 1px solid #fff;
  border-radius: 5px;
  background: linear-gradient(311deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 0px 30px;
  font-size: 15px;
}

.form-group {
  display: flex;
  background: linear-gradient(311deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%);
  color: #fff;
  margin: 10px;
  justify-content: space-between;
  padding: 10px;
}

.text-center {
  text-align: center;
  margin: 0px auto 20px;
  padding: 10px 50px;
}

.shiny2 {
  background-color: rgba(255, 255, 255, 0.14);
  color: white;
  position: relative;
  padding: 15px 30px 15px 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border-style: solid;
  overflow: hidden;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: transform 0.2s;
  text-align: right;
}

.shiny2::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) - 10%);
  left: calc(var(--x, 0) - 10%);
  transform: translate(-50%, -50%);
  width: 1px;
  /* Increase the size of the light effect */
  height: 1px;
  /* Increase the size of the light effect */
  background: radial-gradient(white, transparent);
  /* Update the gradient */
  border-radius: 50%;
  /* Make the edge round */
  border-color: transparent;
  box-shadow: 0px 0px 90px 90px rgba(255, 255, 255, 0.7), 0px 0px 0px 2px transparent;
  opacity: 0;
  transition: opacity 0.2s;
}

.shiny2:hover, .shiny2:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.shiny2:hover::after {
  background-color: transparent;
  opacity: 0.4;
}

.shiny2:active {
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0.98);
}